body, html {
  height: 100%;
}

.viz-container{
  background-color:#2B3033;
  grid-area: viz1;
}
.navbar{
  grid-area:nav;
  background-color:#73f2a2
}
.sidebar1{
  grid-area:side1;
  background-color:#f0f273
}
.sidebar2{
  grid-area:side2;
  background-color:#f0f273
}
.footer{
  grid-area:ftr;
  background-color:#73aef2
}

#wrapper {
  display: grid;
  position: relative;
  height:100%;
  grid-template-columns: 25% repeat(10,7%) 5%;
  grid-template-rows: 5% repeat(4,20%) 5%;
  grid-template-areas:
    "nav nav nav nav nav nav nav nav nav nav nav nav"
    "side1 viz1 viz1 viz1 viz1 viz1 viz1 viz1 viz1 viz1 viz1 side2"
    "side1 viz1 viz1 viz1 viz1 viz1 viz1 viz1 viz1 viz1 viz1 side2"
    "side1 viz1 viz1 viz1 viz1 viz1 viz1 viz1 viz1 viz1 viz1 side2"
    "side1 viz1 viz1 viz1 viz1 viz1 viz1 viz1 viz1 viz1 viz1 side2"
    "side1 ftr ftr ftr ftr ftr ftr ftr ftr ftr ftr side2";

  /*
  grid-gap: 0fr 0fr; /*<grid-row-gap> <grid-column-gap>;*/
  */
  /*
  grid:
    "side1 nav nav nav nav nav nav nav nav nav nav side2" 50px
    "side1 viz1 viz1 viz1 viz1 viz1 viz1 viz1 viz1 viz1 viz1 side2" 100px
    "side1 viz1 viz1 viz1 viz1 viz1 viz1 viz1 viz1 viz1 viz1 side2" 100px
    "side1 viz1 viz1 viz1 viz1 viz1 viz1 viz1 viz1 viz1 viz1 side2" 100px
    "side1 viz1 viz1 viz1 viz1 viz1 viz1 viz1 viz1 viz1 viz1 side2" 100px
    "side1 ftr ftr ftr ftr ftr ftr ftr ftr ftr ftr side2" 50px
    / 5% repeat(10,8%) 5%;
  */
}


.axis line,path{
  fill:none;
  stroke:#bdbdc1;
}
.axis text{
  fill:#bdbdc1;
}
.agg-cost-bar{
  fill-opacity:0.50;
  stroke:#bdbdc1;
  stroke-width:0.5px;
}
.testing_pallate {
  .activation: #ad6364,
  .highlight-against-gray: #3e3b35,
  .stable:#6ab39b,
  .col1: #80bd88,
  .col2: #d3b67c,
  .col3: #5eaec0,
  .col4: #986535,
  .col5: #56542d,
  .col6: #b9b09e,
  .col7: #97ac63
}

#main-body{
  height:100%;
}

#viz-container{
  display: inline-block;
  position: relative;
  width: 100%;
  height:100%;
  /*vertical-align: top;*/
  overflow: hidden;
}
#viz{
  height:100%;
  /*display: inline-block;

/*
  top: 10px;
  left: 0;
  onmouseover="document.body.style.overflow='hidden';"
  onmouseout="document.body.style.overflowY='auto'; document.body.style.overflowX='hidden';"
  preserveAspectRatio="xMinYMin meet"
  width="650"
  height="550"
  viewBox= "0 0 650 550"

  display: block;
  margin: auto;
  */
  /*margin-top: 10px;*/
}
#legend{
}

/*
  Main
*/
.mainBody-background{
  background-color: #2B3033;
}
/*
  Container
*/
.container-stroke{
  stroke:#767678;
}

/*
  title
*/
.title-font-family{
  font-family: Arial,Helvetica,"san-serif";
}
.title-size-font{
  font-size: 4vw;
  font-weight: bold;
  line-height: 1.2em;
}
.title-color-font{
  color: #2B3033;
}
.title-color-background{
  background:#6D6E71;
}

/*
  font
*/
.general-font-family{
  font-family: "TiemposTextWeb-Regular","Georgia";
}
.general-size-font{
  font-size: 2vw;
  line-height: 3vw;
}
.general-color-font{
  color:#bdbdc1;
}
.small-size-font{
  font-size: 0.40vw;
}
.general-text-align{
  text-align: center;
  vertical-align: middle;
}

/*
  objects
*/
.vizObj-General-outline{
  stroke:#bdbdc1;
}
.vizObj-Stable-optional{
  stroke: #6ab39b;
}
.vizObj-Active-stroke{
  stroke: #ad6364;
}
.vizObj-col1{
  fill: #80bd88;
}
.vizObj-col2{
  fill: #d3b67c;
}
.vizObj-col3{
  fill: #5eaec0;
}

.indv-cost{
  stroke-width:0.5px;
  stroke:white;
  stroke-opacity:0.5;
  fill-opacity:1.0;
}
